<!DOCTYPE html>
<html lang="vi">

{{> TrangChu/PhanHeadKH}}

<body>
    <link rel="stylesheet" href="/css/bat-len.css">
    <link rel="stylesheet" href="/css/tai-khoan.css">
    {{> TrangChu/PhanDau}}

    <!-- thanh "danh muc sach" đã được ẩn bên trong + hotline + ho tro truc tuyen -->
    {{> TrangChu/MenuBar}}
    
   
        <!-- nội dung của trang  -->
    <section class="account-page my-3">
        <div class="container">
            <div style="background-color:white">
                <div class="account-page-tab-content m-4">
                    
                    <!-- 2 tab: thông tin tài khoản, danh sách đơn hàng  -->
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-taikhoan-tab" data-toggle="tab" href="#nav-taikhoan" role="tab" aria-controls="nav-home" aria-selected="true">Thông tin tài khoản</a>
                          <a class="nav-item nav-link" id="nav-donhang-tab" data-toggle="tab" href="#nav-donhang" role="tab" aria-controls="nav-profile" aria-selected="false">Danh sách đơn hàng</a>
                        </div>
                    </nav>

                    <!-- nội dung 2 tab -->
                    <div class="tab-content">
                       {{#thongtin}}
                           
                           
                        <!-- nội dung tab 1: thông tin tài khoản  -->
                        <div class="tab-pane fade show active pl-4 " id="nav-taikhoan" role="tabpanel" aria-labelledby="nav-taikhoan-tab">
                            <div class="offset-md-4 mt-3">
                                <h3 class="account-header">Thông tin tài khoản</h3>
                            


                            {{json thongtin}}
                           
                            </div>
                            
                            
                            <div class="hoten my-3">
                                <div class="row">
                                    <label class="col-md-2 offset-md-2" for="account-hoten">Họ tên</label>
                                    <input class="col-md-4" type="text" name="ho_ten" value='{{this.ho_ten}}'>
                                </div>
                            </div>
                           
                            <div class="email my-3">
                                <div class="row">
                                    <label class="col-md-2 offset-md-2" for="account-email">Tài Khoản</label>
                                    <input class="col-md-4" type="text" name="tai_khoan" disabled="disabled" value="{{this.tai_khoan}}">
                                </div>
                            </div>

                            <div class="email my-3">
                                <div class="row">
                                    <label class="col-md-2 offset-md-2" for="account-email">Địa chỉ</label>
                                    <input class="col-md-4" type="text" name="tai_khoan"  value="{{this.dia_chi}}">
                                </div>
                            </div>
                            <div class="email my-3">
                                <div class="row">
                                    <label class="col-md-2 offset-md-2" for="account-email">Số điện thoại</label>
                                    <input class="col-md-4" type="number" name="sdt"  value="{{this.sdt}}">
                                </div>
                            </div>
                            <div class="email my-3">
                                <div class="row">
                                    <label class="col-md-2 offset-md-2" for="account-email">Ngày sinh</label>
                                    <input class="col-md-4" type="text" name="ngay_sinh"  value="{{this.ngay_sinh}}">
                                </div>
                            </div>
                            <div class="checkbox-change-pass my-3">
                                <div class="row">
                                    <input type="checkbox" name="changepass" id="changepass" class="offset-md-4" style="margin-top: 6px;margin-right: 5px; ">
                                    <label for="changepass">Thay đổi mật khẩu</label>
                                </div>
                            </div>
                            <div class="thay-doi-mk">
                                <div class="mkcu my-3">
                                    <div class="row">
                                        <label class="col-md-2 offset-md-2" for="account-mkcu">Mật khẩu cũ</label>
                                        <input class="col-md-4" type="text" name="account-mkcu">
                                    </div>
                                </div>
                                <div class="mkmoi my-3">
                                    <div class="row">
                                        <label class="col-md-2 offset-md-2" for="account-mkmoi">Mật khẩu mới</label>
                                        <input class="col-md-4" type="text" name="account-mkmoi">
                                    </div>
                                </div>
                                <div class="xacnhan-mkmoi my-3">
                                    <div class="row">
                                        <label class="col-md-2 offset-md-2" for="account-xacnhan-mkmoi">Xác nhận mật khẩu</label>
                                        <input class="col-md-4" type="text" name="account-xacnhan-mkmoi">
                                    </div>
                                </div>
                                <div class="capnhat my-3">
                                    <div class="row">
                                        <button type="button" class="button-capnhat text-uppercase offset-md-4 btn btn-warning mb-4" onclick="alert('Chức năng chưa cập nhật')">Cập nhật</button>
                                    </div> 
                                </div>
                                
                            </div>
                        </div>
                        {{/thongtin}}


                         {{!-- MODAL --}}
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content" id="hieudeptrai">

                               

                                </div>
                            </div>
                        </div>
                        <!-- nội dung tab 2: danh sách đơn hàng -->
                        <div class="tab-pane fade py-3" id="nav-donhang" role="tabpanel" aria-labelledby="nav-donhang-tab">
                            <div class="donhang-table">
                                <table class="m-auto">
                                    <tr>
                                         <th>Mã đơn</th>
                                        <th>Ngày đặt hàng</th>
                                    
                                        <th>Tổng tiền</th>
                        
                                        <th>Trạng thái đơn</th>
                                        <th>Đơn hàng</th>
                                        <th>Hủy Đơn</th>
                                    </tr>
                                    
                                    {{#each donHang}}
                                    <tr>
                                        <td>{{this.ma_don_hang}}</td>
                                        <td>{{chuyenGio this.ngay_dat}}</td>
                                
                                        <td>{{number_format this.tong_thanh_toan}} đ</td>
                                        <td>{{tinhTrang this.trang_thai_don}}</td>
                                        
                                        <td><button class="btn btn-primary" data-toggle="modal"
                                            data-target=".bd-example-modal-lg" onclick="xemDon('{{json this}}')">
                                            Xem</button></td>
                                        
                                        <td class="checkXoaDon">{{ktTT this.trang_thai_don}}<button class="btn btn-danger" onclick="xoaDon('{{json this}}')">Hủy Đơn</button></td>
                                    </tr>
                                    {{/each}}
                                
                                </table>
                                <script>
                                    var a = document.getElementsByClassName('checkXoaDon');
                                    
                                     
                                    for(var i = 0; i < a.length; i++){
                                  
                                        if(parseInt(a[i].innerHTML) === 0){
                                            
                                            a[i].innerHTML = ''
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    {{> TrangChu/PhanCuoi}}

    <!-- nut cuon len dau trang -->
    <div class="fixed-bottom">
        <div class="btn btn-warning float-right rounded-circle nutcuonlen" id="backtotop" href="#"
            style="background:#CF111A; margin:30px;"><i class="fa fa-chevron-up text-white"></i></div>
    </div>


</body>

</html>